.book {
  padding-block: var(--padding-section);
}
.book .first-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}
.book .first-content .image {
  width: 350px;
  height: 250px;
  background-color: #fffafa;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book .first-content .image img {
  max-width: 100%;
  max-height: calc(100% - 30px);
}
.book .first-content .first-info {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rating {
  justify-content: flex-start;
  margin-bottom: 10px;
}
.book .first-content .first-info .author {
  color: var(--gray-color);
  font-weight: 600;
}
.book .first-content .first-info .author span {
  color: var(--text-color);
  font-size: 17px;
}
.book .first-content .first-info .add-to-cart input {
  font-size: 18px;
  margin-right: 10px;
  padding: 2px;
  border: 1px solid #000;
}
.book .first-content .first-info .add-to-cart button {
  background-color: #fff;
  color: #080;
  border: 1px solid #080;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}
.book .first-content .first-info .add-to-cart button i {
  margin-right: 5px;
}
.book .text {
  line-height: 1.6;
  margin-bottom: 15px;
}
.book .second-info {
  display: flex;
  gap: 25px;
  color: var(--text-color);
}
.book .second-info .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.book .second-info .col i {
  font-size: 25px;
}
.book .second-info .col span {
  font-weight: 700;
  font-size: 17px;
}

@media (max-width: 767px) {
  .book .first-content,
  .book .text {
    margin-bottom: 25px;
  }
}
@media (max-width: 424px) {
  .book .second-info {
    flex-direction: column;
    gap: 15px;
  }
}
