:root {
  --main-color: #efefef;
  --primary-color: #1976d2;
  --text-color: #008080;
  --icon-color: #dc143c;
  --padding-section: 30px;
  --gray-color: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body {
  background-color: var(--main-color);
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
.container {
  margin-inline: auto;
  padding-inline: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}